<!--
    The Footer.
-->

<div class="text-center" id="footer">
    <p>Maintained with love by {{ .Site.Params.author }}</p>
    <p>{{ .Site.Params.description }}</p>
    <p>Theme "YuriPages" by Yrr0r.</p>
</div>



<!--
    Import scripts at the foot of the document.
-->

<!--BootStrap CSS-->
<link href="/cssjs/bootstrap.min.css" rel="stylesheet">

<!--jQuery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!--BootStrap JS-->
<script src="/cssjs/bootstrap.bundle.min.js"></script>

<!--My utility script-->
<script src="/cssjs/utility.js"></script>