<div class="side-bar">
  {{ if eq .Kind "page" }}
  {{ partial "prevnext" . }}
  {{ end }}
  <p class="mb-1 mt-1 text-left">
    <i
      class="nav-menu fas fa-chevron-circle-up"
      title="Scroll to top"
      onclick="scrollToTop()"
    ></i>
  </p>
  <p class="mb-1 mt-1 text-left">
    <i
      title="Copy URL to share"
      class="nav-menu fas fa-share-alt"
    ></i>
  </p>
</div>

<script>
  function displayCopyMessage(bool) {
    let alertMessage = "";
    if (bool) {
      alertMessage = "Link copied to clipboard";
    } else {
      alertMessage = "Link could not be copied to clipboard";
    }
    let copiedMessage = document.createElement("div");
    copiedMessage.id = "copiedMessage";
    copiedMessage.textContent = alertMessage;
    copiedMessage.classList.add(
      "bg-warning",
      "shadow",
      "d-block",
      "text-center"
    );
    document.body.appendChild(copiedMessage);

    setTimeout(function() {
      copiedMessage.style.opacity = 0;
    }, 500);
    setTimeout(function() {
      document.body.removeChild(copiedMessage);
    }, 1500);
  }

  let clipboard = new ClipboardJS(".fa-share-alt", {
    text: function() {
      return "{{ .Permalink }}";
    }
  });

  clipboard.on("success", function() {
    displayCopyMessage(true);
  });

  clipboard.on("error", function() {
    displayCopyMessage(false);
  });
</script>
