<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>文章标准化</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pangu@4.0.7/dist/browser/pangu.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.0.0/dist/js-yaml.min.js" integrity="sha256-YXvV+EkP0LayqETd0op4OHoJwquFmL0jNTQ9rgmoF3k=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="columns is-centered">
    <div class="column is-three-quarters is-full-mobile">
      <section class="section">
        <div class="container">
          <h1 class="title">
            文章标准化的小工具
          </h1>
          <div class="content">
            <ul>
              <li>使用 <a href="https://github.com/twocucao/writing4cn">twocucao/writing4cn</a> 格式化</li>
              <li>插入空行</li>
              <li>转换为标准分割线</li>
              <li>如果要写特殊样式，先在<a href="https://commonmark.org/help/">这里</a>找找</li>
              <li>比如着重可以用**要着重的文字**</li>
            </ul>
          </div>
        </div>
      </section>
      <section id="app">
        <section>
          <div class="field">
            <label class="label">目录</label>
            <p>注意，如果你要新建目录，只需在这里输入，不需要额外操作。</p>
            <p>比如，现在已经有 content/novel/abc 目录，你想新建 content/novel/abc/def/ghi.md</p>
            <p>只需要在这里输入 content/novel/abc/def/ 即可（并在“文件名”输入 ghi） </p>
            <div class="control">
              <input class="input" type="text" v-model="directory">
            </div>
          </div>
          <div class="field">
            <label class="label">文件名（自动加 .md 后缀）</label>
            <div class="control">
              <input class="input" type="text" v-model="filename">
            </div>
          </div>
          <div class="field">
            <label class="label">title</label>
            <div class="control">
              <input class="input" type="text" placeholder="标题" v-model="title">
            </div>
          </div>
          <div class="field">
            <label class="label">weight</label>
            <div class="control">
              <input class="input" type="number" placeholder="可留空" v-model="weight">
            </div>
          </div>
          <div class="field">
            <label class="label">author</label>
            <div class="control">
              <input class="input" type="text" placeholder="可留空" v-model="author">
            </div>
          </div>
          <div class="field">
            <label class="label">date 可留空</label>
            <div class="control">
              <input class="input" type="date" placeholder="可留空" v-model="date">
            </div>
          </div>
        </section>
        <button class="button" v-on:click="copy">复制到剪切板</button>
        <button class="button" v-on:click="addfile">一键添加到 GitHub</button>
        <div class="columns is-multiline">
          <div class="column is-full-mobile is-half-tablet">
            <textarea v-model="content" class="textarea" placeholder="文章写这里"></textarea>
          </div>
          <div class="column is-full-mobile is-half-tablet">
            <pre>{{ addyaml }}</pre>
          </div>
          <div class="column is-full">
            <h2 class="title">
              预览
            </h2>
          </div>
          <div class="column is-full">
            <div v-html="rendered" class="content" style="border:solid">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script>
    function condenseContent(content) {
      content = content.replace(/^(.*)(\r?\n\1)+$/gm, "$1")
      return content;
    }
    function replacePunctuations(content) {
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF])\.($|\s*)/g, '$1。');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF]),\s*/g, '$1，');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF]);\s*/g, '$1；');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF])!\s*/g, '$1！');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF]):\s*/g, '$1：');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF])\?\s*/g, '$1？');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF])\\\s*/g, '$1、');
      content = content.replace(/\(([\u4e00-\u9fa5\u3040-\u30FF])/g, '（$1');
      content = content.replace(/\[([\u4e00-\u9fa5\u3040-\u30FF])/g, '『$1');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF。！])\]/g, '$1』');
      content = content.replace(/<([\u4e00-\u9fa5\u3040-\u30FF])/g, '《$1');
      content = content.replace(/([\u4e00-\u9fa5\u3040-\u30FF。！])>/g, '$1》');
      content = content.replace(/。{3,}/g, '……');
      content = content.replace(/([！？])$1{3,}/g, '$1$1$1');
      content = content.replace(/([。，；：、“”『』〖〗《》])\1{1,}/g, '$1');
      return content;
    }
    function format(content) {
      content = this.condenseContent(content);
      let isInCodeArea = 0;
      content = content.split("\n").map((line) => {
        if (line.trim().startsWith("```")) {
          isInCodeArea = isInCodeArea == 0 ? 1 : 0;
        }

        line = this.replacePunctuations(line);
        line = line.replace(/([\u4e00-\u9fa5\u3040-\u30FF])([a-zA-Z0-9@&=\[\$\%\^\-\+(\/\\])/g, '$1 $2');
        line = line.replace(/([a-zA-Z0-9!&;=\]\,\.\:\?\$\%\^\-\+\)\/\\])([\u4e00-\u9fa5\u3040-\u30FF])/g, "$1 $2");

        // 不在代码区域内才执行此项替换
        if (!(/`+[^`]*[『\[]([^』\]]+)[』\]][『\[]([^』\]]+)[』\]][^`]*`+/g.test(line)) && !isInCodeArea) {
          line = line.replace(/[『\[]([^』\]]+)[』\]][『\[]([^』\]]+)[』\]]/g, "[$1]($2)");
        }

        line = line.replace(/[『\[]([^』\]]+)[』\]][（(]([^』)]+)[）)]/g, "[$1]($2)");
        return line;
      }).join("\n");
      return content
    }
    function copyStringToClipboard(str) {
      // Create new element
      var el = document.createElement('textarea');
      // Set value (string to be copied)
      el.value = str;
      // Set non-editable to avoid focus and move outside of view
      el.setAttribute('readonly', '');
      el.style = { position: 'absolute', left: '-9999px' };
      document.body.appendChild(el);
      // Select text inside element
      el.select();
      // Copy text to clipboard
      document.execCommand('copy');
      // Remove temporary element
      document.body.removeChild(el);
    }
    function markdownFormat(content) {
      content = content.replace(/\s+$/, '') + '\n'
      content = content.replace(/^[ \t\u3000\u00A0]*—+[ \t\u3000\u00A0]*$/gm, '---')
      content = content.replace(/[^—]——[^—]/g, s => `${s[0]}\u2E3A${s[3]}`)
      content = content.replace(/[^—]——[^—]/g, s => `${s[0]}\u2E3A${s[3]}`)
      content = content.replace(/[^—]——[^—]/g, s => `${s[0]}\u2E3A${s[3]}`)
      content = content.replace(/[^—]——[^—]/g, s => `${s[0]}\u2E3A${s[3]}`)
      content = format(content)
      content = content.replace(/\u2E3A/g, '——')
      content = content.replace(/抖 M /g, '抖M')
      content = content.replace(/抖 S /g, '抖S')
      return content
    }
    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
    var app = new Vue({
      el: '#app',
      data: {
        content: '',
        title: null,
        weight: null,
        author: null,
        date: null,
        directory: getParameterByName('directory') || null,
        filename: "",
      },
      methods: {
        copy: function () {
          copyStringToClipboard(this.addyaml)
        },
        addfile: function() {
          if (!this.directory) alert("目录为空！")
          let filename = this.directory;
          if (filename.slice(-1) != '/') filename = filename + '/'
          filename = filename + this.filename + '.md';
          window.open(`https://github.com/amaki-aria/amaki-aria.github.io/new/master?filename=${encodeURIComponent(filename)}&value=${encodeURIComponent(this.addyaml)}`)
        }
      },
      computed: {
        translate: function () {
          var result = this.content

          result = result.replace(/^\s+（(\d+)）.*/mg, '#### $1')
          result = result.replace(/\r\n/g, '\n')
          result = result.replace(/\r/g, '\n')

          result = result.replace(/\n/g, 'eioqpjiojfoij')
          result = result.replace(/eioqpjiojfoij/g, '\n\n')
          result = result.replace(/\n{2}\n+/g, '\n\n')

          return markdownFormat(result);
        },
        addyaml: function () {
          const metadata = {
            title: this.title
          };
          if (this.author) {
            metadata.author = this.author
          }
          if (this.date) {
            metadata.date = this.date
          }
          if (this.weight) {
            metadata.weight = Number(this.weight)
          }
          return `---\n${jsyaml.dump(metadata)}---\n${this.translate}`
        },
        rendered: function () {
          return marked(this.translate)
        }
      }
    })
  </script>
</body>

</html>