{{ define "main" }}

<div class="container">
  <!--top title-->
  <h1 class="text-center m-5">
    {{.Title}}
  </h1>

  <!--顶部文字-->
  <div>
    <div class="p-3">
      {{if ne .Content nil }}
        {{with .Content}}
          {{.}}
        {{end}}
      {{ end }}
    </div>
  </div>



  <!--top cards area-->
  <div class="row mb-2">
    {{ range .Site.Sections.ByWeight }}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm hy-5 overflow-hidden" style="height: 12rem;">
        <div class="card-body">
          <a href="{{ .Permalink }}">
            <h5 class="card-title">
              {{ .Title | markdownify }}
            </h5>
          </a>
          <div>
            <small>
              <!--显示内容个数-->
              {{ len .Pages }} items </br>
              <!--显示一段很短的介绍-->
              {{if ne .Params.shortinfo nil}} {{.Params.shortinfo}} </br> {{end}}
              <!--显示作者的名字-->
              {{if ne .Params.author nil}} 作者： {{.Params.author}} </br> {{end}}
            </small>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>




</div>











{{ end }}